header {
  display: flex;
  border-bottom: 1px solid black;
}

header nav {
  margin: auto;
}

header nav ul {
  display: flex;
  justify-content: center;
}

header nav ul li a {
  padding: 0 20px;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
}
a:visited {
  color: none;
}

.current-path {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
}
